/*Reset Dasar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, Sans-Serif;
}

/*Body*/
body {
  background: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/*HEADER*/
header {
  background: #2d0671;
  color: #f5f5f5;
  text-align: center;
  padding: 30px 15px;
}

header h1 {
  font-size: 28px;
}

header p {
  font-size: 14px;
  opacity: 0,8;
}

/*NAVBAR*/
nav {
  background: #333;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 8px;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

/*SECTION*/
section {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

section h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

/*TENTANG SAYA*/
.foto-saya {
  max-width: 100%;
  height: auto;
}

/*skill*/
.skill-saya {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-saya li {
  width: calc (50% - 10px);
  font-weight: bold;
}

.skill-saya img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 50px;
}

/*RIWAYAT PENDIDIKAN*/
.Riwayat-Pendidikan {
  background-color: #221339;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  line-height: 1.6;
}

.Riwayat-Pendidikan h2{
  font-size: 20px;
  text-align: center;
  margin: 5px;
  line-height: 8px;
}

.Riwayat-Pendidikan span p{
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

/*KONTAK SAYA*/
.Kontak img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.kontak p{
  text-align: right;
  font-weight: bold;
  margin: 5px;
}

/*FOOTER*/
.footer-1 {
  background: #332845;
  color : white;
  text-align: center;
}

marquee {
  color: #green;
  text-shadow:
    0 0 5px #0c412b,
    0 0 10px #135238,
    0 0 20px #19714c,
    0 0 40px #22503d;
}